<div class="ui-box w-full">
  <div class="--top">
    <div class="ui-titlepair">
      <div class="--title">
        Charts
      </div>
    </div>
  </div>
  <canvas id="myChart"></canvas>
  <script>
    ctx = document.getElementById('myChart');

    if (ctx.chart) { // If chart is reloaded with htmx, destroy it
      ctx.chart.destroy();
    }

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
</div>