<div class="ui-box w-full text-left">
  <div class="--top">
    <div class="ui-titlepair">
      <div class="--title">
        Location Search
      </div>
    </div>
  </div>
  <%= render "h1rails/elements/selects/location", 
           field_name: "serialized_location" %>
</div>