<div class="ui-box w-full text-left">
  <div class="--top">
    <div class="ui-titlepair --xl">
      <div class="--title">
        Selects
      </div>
    </div>
  </div>
  <better-select>
    <select>
      <option value="apple">Apple</option>
      <option value="banana">Banana</option>
      <option value="cherry">Cherry</option>
      <option value="orange">Orange</option>
      <option value="pear">Pear</option>
      <option value="kiwi">Kiwi</option>
    </select>
  </better-select>
</div>