<div data-component="sidebar">
  <div class="ui-sidebar">
    <div class="--container">
      <!-- Header (sticky) -->
      <div class="--top">
        
      </div>
      
      <!-- Main content (scrollable) -->
      <div class="--middle">
        <%= yield :sidebar_content %>
      </div>
      
      <!-- Footer (sticky) -->
      <div class="--bottom">
        <a href="#" class="--menu-item">
          <span class="--icon">
            <%= inline_svg_tag("/heroicons/logout") %>
          </span>
          <span>Logout</span>
        </a>
      </div>
    </div>
  </div>
</div>