<% content_for :sidebar_content do %>
  <div class="--section" style="margin-top: 1.5rem;">
    <h3 class="--eyebrow">Elements</h3>
    <a class="--menu-item <%= current_page?(demos_path) ? '--active' : '' %>" href="<%= demos_path %>">
      Assorted
    </a>
  </div>
<% end %>