<div class="ui-box w-full">
  <div class="--top">
    <div class="ui-titlepair">
      <div class="--title">
        Toasts
      </div>
    </div>
  </div>
  <a class="ui-button --solid --motion-forward" href="<%= demo_toast_path() %>">
    Trigger a toast
  </a>
  <div class="--bottom flex">
    <div></div>
    <a target="_blank" href="https://docs.h1rails.com/h1rails/toasts" class="ui-button --solid --motion-forward">
      Read The Docs 
      <%= inline_svg_tag("heroicons/arrow-top-right-on-square.svg") %>
    </a>
  </div>
</div>