
<script type="text/babel" src="/react/App.js<%= cache_buster %>"></script>
<script type="text/babel" src="/react/Button.js<%= cache_buster %>"></script>
<script type="text/babel" src="/react/Counter.js<%= cache_buster %>"></script>

<div id="my-component"></div>

<script type="text/babel">
  ReactDOM.createRoot(document.getElementById('my-component')).render(<App />)
</script>

