
:root {

  --font-family: 'Outfit', sans-serif;
  --color-1: #F2EDDA;
  --color-2: #E4E7E0;
  --color-3: #DCFF54;
  --color-4: #1D2A3A;
  --color-5: #EDF8FD;
  --color-6: #1A1F2A;

  --bg-primary: 26,31,42;

  --link-color: #2688ff;

  --gray-1: #F2F2F2;
  --gray-2: #E6E6E6;

  --border-radius-1: 5px;
  --border-radius-2: 10px;
  --border-radius-3: 15px;

  --bold-font-weight: 600;

}

html {
  font-family: var(--font-family);
}

.custom-button {
  background-color: var(--bg-callout);
  color: var(--bg-callout-text);
  border: 2px solid transparent;
}

.custom-button-minor {
  background-color: #fff;
  color: var(--text-dark);
  border: 2px solid transparent;
}

.compact-container {
  max-width: 1100px;
}

.toasts-container {
  max-width: 300px;
  position: fixed;
  top: 10px;
  right: 10px;
}

.toasts-container .toast {
  transform: translateY(-120%);
  position: fixed;
}

.toasts-container .toast-animate-in { 
  position: relative;
  transition: 0.5s;
  transform: translateY(0%);
}

.toasts-container .toast-animate-out {
  transform: translateX(120%);
  transition: 0.5s;
}

.from-below {
  transform: translateY(20%);
}

:focus-visible {
  outline: none
}

.focus-border:focus {
  border-color: #191919;
}

.border-3 {
  border-width: 3px;
}


shimmer {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 100px; 
  position: relative; 
  
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
 0% {
   background-position: -468px 0;
 }
 
 100% {
   background-position: 468px 0; 
 }
}


@media (max-width: 768px) {
  
}

.tooltip {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
}


.format-text h1 {
  font-size: 2.5rem;
  font-weight: var(--bold-font-weight);
  line-height: 1.2;
  margin-bottom: 1rem;
}

.format-text h2 {
  font-size: 2rem;
  font-weight: var(--bold-font-weight);
  line-height: 1.2;
  margin-bottom: 1rem;
}
.format-text h3 {
  font-size: 1.5rem;
  font-weight: var(--bold-font-weight);
  line-height: 1.2;
  margin-bottom: 1rem;
}
.format-text h4 {
  font-size: 1.25rem;
  font-weight: var(--bold-font-weight);
  line-height: 1.2;
  margin-bottom: 1rem;
}

.format-text a {
  color: var(--link-color);
  text-decoration: underline;
}

.format-text p, 
.format-text li {
  font-size: 1.1rem;
}

.format-text code {
  font-size: 0.9rem;
}

.format-text p, 
.format-text code {
  margin-bottom: 1rem;
}

.format-text strong {
  font-weight: var(--bold-font-weight);
}
.format-text ul {
  margin-bottom: 1rem;
  list-style-type: disc;
  margin-left: 20px;
}
.format-text ol {
  margin-bottom: 1rem;
  list-style-type: decimal;
  margin-left: 20px;
}

.format-text code, 
.format-text pre code {
  background-color: var(--gray-1);
  border-radius: var(--border-radius-1);
}
.format-text code {
  padding: 2px 4px;
}
.format-text pre code {
  display: block;
  padding: 12px;
}
