<script>
  isModalOpen = false
  modalSizeClass = "size-alpha"
</script>

<div id="toasts">
  <%= render partial: "shared/toasts" %>
</div>

<div class="relative z-10 duration-300 transition-all opacity-0" 
    :class="isModalOpen ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'" >
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75"></div> 
  
  <dialog class="relative rounded-lg modal" 
          :class="isModalOpen ? `${modalSizeClass} opacity-100 translate-y-0 sm:scale-100` : ` opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95`" 
          id="modal"
          >
    <div class="absolute top-0 right-0 cursor-pointer" :click="$('#modal').close();isModalOpen=false">
      close 
    </div>
    <div id="main-modal-container" class="p-4 flex flex-col gap-4"  >
      
    </div>
  </dialog>  
</div>

<div id="right-sidebar" class="hidden bg-gray-700 bg-opacity-50 fixed top-0 bottom-0 right-0 left-0 flex justify-center items-center z-20" >
  <div id="right-sidebar-inner" class="shadow bg-white fixed right-0 bottom-0 top-0 flex z-20" style="width:500px">
    <div style="left:-40px" class="cursor-pointer absolute" _= "on click add .hidden to #right-sidebar">
      <%= inline_svg_tag("heroicons/icon-x.svg",class:"w-10 h-10 text-white") %>
    </div>
    <div id="right-sidebar-content">
    </div>
  </div>
</div>
