
This is step 1

<a href="<%= demo_mobile_app_step2_path(presentation: "card") %>" class="ui-button flex justify-between --motion-forward">
  Step 2
  <%= inline_svg_tag("heroicons/arrow-right.svg", class: "w-4 h-4 ml-2") %>
</a>
