<div class="ui-box w-full">
  <div class="--top">
    <div class="ui-titlepair">
      <div class="--title">
        Modals
      </div>
    </div>
  </div>
  <div>
    <button class="ui-button" data-controller="modal-trigger" data-content-url="<%= demos_stimulus_coffee_path %>"> Open Modal</button>
  </div>
</div>