
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css">


<% render partial: "h1rails/demos/base_styles/sidebar" %>

<div style="max-width: 1000px;" class="mx-auto ui-styled-text">
  <%= @content.html_safe %>
</div>
