// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "arctic_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
#footer {
  display: none;
}

body {
  background-color: var(--gray-3);
}

.header .site_title,
.header #tabs {
  background-color: var(--color-alpha);
  color: var(--color-alpha-text);
}


.header #tabs { 
  border-right: none;
  padding: 0 12px;
}
.header #tabs li a {
  color: var(--color-alpha-text);
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-1);
  &:hover {
    background-color: var(--color-alpha-dark);
  }
}

.header #tabs li.current a {
  background-color: var(--color-alpha-text-highlight);
}

.header #utility_nav {
  display: none;
}
body.active_admin {
  padding-top: 0px !important;
}




.header .site_title {
  text-align: left;
  padding-left: 20px;
  border-bottom: none;
}

#login {
  border-top: 0px;
  border-radius: var(--border-radius-2);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

#title_bar #titlebar_right .action_item a,
body.index .table_actions .member_link,
input[type="submit"],
body.index .scopes .scope:active a, body.index .scopes .scope:focus a, body.index .scopes .scope.selected a,
input[type="checkbox"]:checked {
  background: var(--color-alpha);
}

#title_bar #titlebar_right .action_item a:hover,
body.index .table_actions .member_link:hover,
input[type="submit"]:hover {
  background: var(--color-alpha-dark);
}

#active_admin_content {
  display: flex
}
body.index #sidebar {
  position: unset;
}

body.logged_in.edit .input select,
body.logged_in.create .input select,
body.logged_in.update .input select {
  height: var(--form-input-height, 50px) !important;
  width: 50% !important;
}

body.index #main_content {
  background-color: unset;
  padding: unset;
  box-shadow: unset;
}

.paginated_collection_contents {
  background: #fff;
  border-radius: var(--border-radius-1);
  padding: 10px;
  thead tr, 
  tbody tr {
    border: none
  }
}

thead tr {
  background-color: var(--gray-3);
  th, 
  th a {
    font-weight: bold;
  }
}

.paginated_collection_contents, 
.sidebar_section.panel {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
#sidebar .sidebar_section input[type="submit"] {
  height: unset;
}