
<script type="module">
  import { html, render, useState, useEffect } from 'https://esm.sh/htm/preact/standalone';
  import {Toasts} from '/preact/components/Toasts.js';
  // Inilize the modal system once in your application
  document.addEventListener('DOMContentLoaded', () => {
    // Render the modal system
    render(html`<${Toasts} />`, document.getElementById('toasts'));
    console.log("Reloading");
  });
</script>

<div id="toasts"></div>
